/************/
/* General */
html {
    font-size: 13px;
}
h1 {
    font-size: 1.3rem;
    font-weight: 500;
}
/* END General */
/***************/



/***************/
/* Nav/Header */
#nav-header {
    font-size: 0.9rem;
    padding: 8px 15px 2px 15px;
}
#nav-header-img {
    width: 50px;
    margin-right: 10px;
}
/* END Nav/Header */
/******************/



/****************/
/* Splash Page */
#splash-page {
    padding: 3% 15px;
}
#tpm-logo-main {
    width: 123px;
    width: 103px;
}
.splash-text {
    line-height: 1.7;
    font-size: 1.18rem;
}
/* END Splash page */
/*******************/



/************************/
/* TPM Indicator Icons */
#indicator-icons-wrapper {
    padding: 2% 5px 3% 5px;
}
.indicator-icons-imgs {
    height: 50px;
    padding-bottom: 2px;
}
.indicator-icons-figure {
    /* @ UPDATE */
    font-size: 0.925rem;
    /* font-size: 1rem; */
    line-height: initial;
    align-self: flex-start;
}
/* END TPM Indicator Icons */
/***************************/



/**************************/
/* TPM Indicator Content */
#tpm-content-section {
    flex-direction: column;
}
#tpm-content {
	max-width: initial;
	width: 100%;
	padding: 0 1rem;
    margin-left: -13.5px; /* escape container 15px padding */
	border: none;
}
#tpm-content p, #tpm-content ul, #tpm-content ol, #tpm-content span:not(.dates-circle) {
    display: block;
    max-width: 70ch;
    margin: 5% auto;
}
#tpm-content-headers {
    width: 100%;
    margin-right: 0;
    max-width: initial;
    flex-direction: row;
    justify-content: space-between;
}
.tpm-content-headers-btn {
    padding: 0.8rem 0.4rem;
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-top: -1px;
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transform: translateY(-1px);
    width: 25%;
}
.tpm-content-headers-btn:not(.active-header) {
    border-bottom: none;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
.content-header {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    border-radius: 0;
    box-shadow: none;
}
.tpm-content-section-header {
    margin-top: 25%;
}
.table-wide {
    width: 150%;
}
.table-wide-half {
    width: 125%;
}
.table-overflow-wrapper {
    width: 100%;
}
td:not(.table-cell-first) {
    font-size: inherit;
}
.table-cell-first, .table-cell-wide-extra, .table-cell-wide {
    width: auto;
}
.dates-circle-left {
    margin-left: calc(100% + 0.9rem);
}
.dates-circle-right {
    margin-left: -1.45rem;
}
/* END TPM Indicator Content */
/*****************************/



/***********/
/* Footer */
footer{
    padding: 1% 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 300px;
}
#connect-with-us-h2 {
    font-size: 1.35rem;
}
address{
    text-align: center;
}
#footer-logo{
    display: block;
    width: 65px;
    margin: 0 auto;
}
#footer-words, #footer-contact-wrapper{
    width: 72%;
}
#footer-words{
    margin-bottom: 6%;
}
#footer-contact-wrapper{
    text-align: center;
}
.vr, .footer-social{
    height: 15px;
}
#footer-social-wrapper{
    justify-content: center;
}
#email-icon{
    height: 14px;
}
/* END Footer */
/**************/