/* General */
* {
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 1.7;
}
.padding-wrapper{
    padding: 15px;
}
/* END General */



/* Nav/Header */
#nav-header{
    background: #4fa3a8;
    color: #f7f7f7;
    position: sticky;
    top: 0;
}
/* END Nav/Header */



/* Splash Page */
#splash-page{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 1% 0;
}
h1{
    font-size: 1.5rem;
}
#tpm-logo-large{
    height: 250px;
    width: 250px;
    margin-right: 25px;
}
.splash-text{
    font-size: 1.2rem;
    max-width: 70ch;
}
/* END Splash page */



/* TPM Indicator Icons */
#indicator-icons-wrapper{
    display: flex;
    justify-content: space-around;
    background: white;
}
.indicator-icons-figure{
    margin: 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
}
.indicator-icons-active{
    color: #f7f7f7;
    filter: invert(100%);
    font-weight: 700;
}
.indicator-icons-figcaption:hover + .indicator-icons-imgs, .indicator-icons-imgs:hover{
    transform: rotate(25deg);
    filter: drop-shadow(1px 2px 3px rgba(0,0,0,0.3));
}
.indicator-icons-imgs{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
/* END TPM Indicator Icons */



/* TPM Indicator Content */
#tpm-content-section{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#tpm-content-headers{
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    max-width: 25%;
}
.tpm-content-headers-text{
    margin: 0;
}
.active-header{
    border: none;
}
.tpm-content-headers-btn{
    cursor: pointer;
    background: transparent;
    margin-bottom: 3%;
    padding: 10px;
}
#tpm-content{
    width: 70%;
    max-width: 750px;
}
.content-header{
    text-align: center;
    background: white;
}
.table-overflow-wrapper{
    overflow-x: auto;
}
table{
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
tbody tr{
    border-bottom: 1px solid black;
}
td{
    padding: 8px 0;
}
.table-text-cell{
    text-align: left;
}
.table-num-cell{
    text-align: right;
}
/* END TPM Indicator Content */


/* Footer */
footer{
    height: 25vh;
    background: grey;
    margin-top: 5%;
}
/* END Footer */