/************/
/* General */
* {
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 15px;
}
body {
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    line-height: 1.7;
    background: var(--accent-black-light);
}
a {
    color: inherit;
}
small {
    font-size: 0.7rem;
}
summary {
    cursor: pointer;
}
:root {
    --assets-color: #1c6f73;
    --safety-color: #df881e;
    --performance-color: #005dab;
    --indicator-hover-filter: drop-shadow(1px 2px 3px rgba(0,0,0,0.3)) brightness(130%);
    --indicator-active-filter: drop-shadow(1px 2px 3px rgba(0,0,0,0.3));
    --accent-gold: #ffec51;
    --accent-gold-light: #FFEFD3;
    --accent-black: #000;
    --accent-black-light: #282B28;
    --splash-text-font-size: 1.2rem;
}
.padding-wrapper {
    padding: 15px;
}
/* @UPDATE REMOVE: #performance-main, h1 */
h1, #performance-main, #performance-nav, .content-header, #nav-header-title, .indicator-icons-figcaption {
    font-family: 'Arial', sans-serif;
}
[data-theme='assets'] strong, [data-theme='assets'] .theme-font-color, [data-theme="assets"] .indicator-icons-figcaption {
    color: var(--assets-color);
}
[data-theme='assets'] .content-header, [data-theme='assets'] .active-header {
    background: var(--assets-color);
}
[data-theme='assets'] tbody tr {
    border-bottom: 2px dotted var(--assets-color);
}
[data-theme="safety"] strong, [data-theme="safety"] .theme-font-color, [data-theme="safety"] .indicator-icons-figcaption {
    color: var(--safety-color);
}
[data-theme='safety'] .content-header,  [data-theme='safety'] .active-header {
    background: var(--safety-color);
}
[data-theme='safety'] tbody tr {
    border-bottom: 2px dotted var(--safety-color);
}
[data-theme="performance"] strong, [data-theme="performance"] .theme-font-color, [data-theme="performance"] .indicator-icons-figcaption {
    color: var(--performance-color);
}
[data-theme='performance'] .content-header, [data-theme='performance'] .active-header {
    background: var(--performance-color);
}
[data-theme='performance'] tbody tr {
    border-bottom: 2px dotted var(--performance-color);
}
.muted-40 {
    filter: opacity(40%);
}
/* END General */
/***************/



/***************/
/* Nav/Header */
#nav-header {
    color: var(--accent-gold-light);
	position: sticky;
	top: 0;
    z-index: 10;
    border-bottom: 2px solid #4d534d;
    background: var(--accent-black);
    font-size: 1rem;
    padding: 8px 20px 2px 20px;
    box-shadow: 2px 4px 6px rgba(0,0,0, 0.3);
}
#nav-header-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#nav-header-img {
    width: 85px;
    margin-right: 10px;
}
#nav-header-title{
    text-decoration: none;
}
#performance-nav {
    color: var(--accent-gold);
}
/* END Nav/Header */
/******************/



/****************/
/* Splash Page */
#splash-page {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 4.5% 15px;
    line-height: 1.85;
    color: var(--accent-gold-light);
    margin-top: -1rem; 
}
h1 {
    font-size: 2.35rem;
    margin: 0;
}
#performance-main {
    color: var(--accent-gold);
}
#tpm-logo-main {
    /* @UPDATE */
    margin-right: 25px;
    margin-top: 1em;
    width: 265px;
}
.splash-summary{
    font-size: var(--splash-text-font-size);
}
.splash-text {
    font-size: var(--splash-text-font-size);
    max-width: 70ch;
    /* @UPDATE */
    /* margin: 0.8rem auto; */
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
#splash-text-action {
    font-weight: 700;
    margin-bottom: 0;
}
/* END Splash page */
/*******************/



/************************/
/* TPM Indicator Icons */
#indicator-icons-wrapper {
    display: flex;
    justify-content: space-around;
    background: var(--accent-black);
    padding: 2% 15px 2.5% 15px;
    z-index: 2;
}
.indicator-icons-figure {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.04rem;
    font-weight: bold;
}
.indicator-icons-active {
    font-weight: 700;
    -webkit-text-stroke: 0;
    filter: var(--indicator-active-filter);
}
.indicator-icons-imgs, .indicator-icons-figcaption {
    cursor: pointer;
}
.muted-40:hover {
    filter: none;
}
.indicator-icons-figcaption:hover + .indicator-icons-imgs, .indicator-icons-imgs:hover {
    transform: rotate(5deg);
    filter: var(--indicator-hover-filter);
}
.indicator-icons-imgs {
    height: 125px;
    margin: 0 auto;
}
/* END TPM Indicator Icons */
/***************************/



/**************************/
/* TPM Indicator Content */
.content-section-default {
    visibility: collapse;
    height: 0px;
    padding: 0;
}
.content-section-active {
    visibility: visible;
    height: initial;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 3%;
    background: var(--accent-black-light);
}
#tpm-content {
    width: 70%;
    max-width: 70ch;
    line-height: 150%;
    padding: 0 2.5rem 0.5rem 2.5rem;
    margin-top: 15px;
    background: #f7f7f7;
    font-size: 1rem;
    border-left: 2px inset #e4e4e4;
    border-right: 2px inset #e4e4e4;
    border-radius: 6px;
}
#tpm-content-headers {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    max-width: 25%;
}
.tpm-content-section-header {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 7% 0;
}
.active-header {
    border: none;
    color: #f7f7f7 !important;
    font-weight: 700;
}
.tpm-content-headers-btn {
    background: #f7f7f7;
    margin-bottom: 9%;
    padding: 1.6rem 0.8rem;
    border-radius: 6px;
    font-size: 1rem;
}
.tpm-content-headers-btn:not(.active-header) {
    cursor: pointer;
}
.tpm-content-headers-btn:not(.active-header):hover {
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    filter: brightness(115%);
}
.tpm-content-headers-btn:last-child {
    margin-bottom: 0;
}
.content-header {
	text-align: center;
	background: white;
	width: 100%;
	margin: 0;
	font-size: 2rem;
	padding: 1.3rem 3rem;
	margin-left: -3rem;
	box-shadow: 2px 4px 6px rgba(0,0,0, 0.3);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #f7f7f7;
	z-index: 3;
}
.tpm-content-subheaders {
    margin-bottom: 0;
    font-size: 1.3rem;
}
.table-overflow-wrapper {
    overflow-x: auto;
    margin-top: 2%;
}
table {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
td {
    padding: 4px 0;
    text-align: center;
}
.table-cell-first {
    text-align: left;
    width: 28ch;
}
.table-cell-first:not(th) {
    font-style: italic;
}
/* @TODO width isn't applying for narrow*/
.table-cell-first-narrow {
    width: 20ch;
}
.table-nested-header-first {
    text-align: left;
}
.table-cell-wide {
    width: 6.5vw;
}
.table-cell-wide-extra {
    width: 10vw;
}
.table-cell-last {
    text-align: right;
}
.table-nested-cell-first {
    text-align: left;
}
.table-cell-no-border {
    border-bottom: none !important;
}
#dates-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.dates-entry {
    width: calc(50% - 15px);
}
.dates-circle {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    background: var(--accent-black-light);
    border-radius: 50%;
}
.dates-entry-text {
    margin-top: -1.2rem;
}
.dates-circle-left {
    margin-left: calc(100% + 0.65rem);
}
.dates-circle-right {
    margin-left: -20px;
}
.dates-entry-left {
    text-align: right;
    padding-right: 15px;
    border-right: 1px solid var(--accent-black-light);
}
.dates-entry-right {
    align-self: flex-end;
    padding-left: 15px;
    border-left: 1px solid var(--accent-black-light);
}
/* END TPM Indicator Content */
/*****************************/



/***********/
/* Footer */
footer {
    height: 250px;
    padding: 4% 15.5%;
    color: var(--accent-gold);
    background: var(--accent-black-light);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
}
#connect-with-us-h2 {
    margin: 0;
}
address {
    font-style: normal;
}
#footer-logo {
    width: 85px;
}
#footer-contact-wrapper {
    align-self: center;
}
#footer-contact-wrapper h3 {
    padding-bottom: 5px;
    margin: 0;
    letter-spacing: 0.1rem;
}
#footer-social-wrapper {
    display: flex;
}
.vr {
    display: block;
    border-right: 1px solid var(--accent-gold);
    margin: 0 3%;
}
.footer-social {
    padding: 0 5px;
}
.vr, .footer-social {
    height: 20px;
}
#email-icon {
    height: 18px;
}
.footer-social-link {
    align-self: center;
}
/* END Footer */
/**************/



/***************/
/* Transitions */

/* End Transitions */
/*******************/