/* General */
* {
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 1.5;
}
.padding-wrapper{
    padding: 15px;
}
/* END General */



/* Nav/Header */
#nav-header{
    background: #4fa3a8;
    color: #f7f7f7;
}
/* END Nav/Header */



/* Splash Page */
#splash-page{
    display: flex;
    justify-content: center;
    align-items: start;
}
#tpm-logo-large{
    height: 250px;
    width: 250px;
    margin-right: 25px;
}
/* END Splash page */



/* TPM Indicator Icons */
#indicator-icons-wrapper{
    display: flex;
    justify-content: space-around;
}
.indicator-icons-figure{
    margin: 0;
    text-align: center;
}
.indicator-icons-imgs{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
/* END TPM Indicator Icons */



/* TPM Indicator Content */
#tpm-content-section{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#tpm-content-headers{
    margin-right: 15px;
    max-width: 25%;
}
#tpm-content{
    width: 70%;
}
.content-header{
    text-align: center;
}
/* END TPM Indicator Content */