/************/
/* General */
h1 {
    text-align: center;
}
/* END General */
/***************/



/****************/
/* Splash Page */
#splash-page {
    flex-direction: column;
    align-items: center;
    padding: 1% 15px;
}
#tpm-logo-main {
    width: 175px;
    margin: 0;
    padding-top: 2rem;
}
/* END Splash page */
/*******************/



/************************/
/* TPM Indicator Icons */
.indicator-icons-imgs {
    height: 90px;
}
/* END TPM Indicator Icons */
/***************************/



/**************************/
/* TPM Indicator Content */
/* @UPDATE: test this out for the inbetween tablet and mobile cases */
/* .content-header {
    top: 210px;
} */
/* END TPM Indicator Content */
/*****************************/